 body {
      margin: 0;
      background: #020617;
      color: white;
      font-family: Arial;
      text-align: center;
    }

    canvas {
      display: block;
      margin: auto;
      background: radial-gradient(circle, #0f172a, #000);
      border: 1px solid #333;
    }

    h2 {
      margin: 10px;
    }